<div class="bg-[#FFFFFF] flex flex-col gap-2 border-slate-300 rounded-lg min-x[438px] max-w-[438px] p-5">
  <div class="flex justify-between">
    <h1 class="text-2xl font-semibold text-[#202020] mb-2"> Meetings </h1>
    <div class="flex items-center gap-1">
      <p class="text-sm font-medium text-[#202020] bg-[#EEF6F8] rounded-sm py-0.5 px-1 h-[1.5rem]">33%</p>
      <p class="text-[0.8rem] font-regular">Achieved</p>
    </div>
  </div>
  <div class="flex flex-col gap-3 items-center">
    <p class="text-[#202020] font-medium text-[0.9rem]">You’re moving smoothly! Already a third of the way there. 🚀</p>
    <div class="flex items-center">
      <div class="w-[3rem] h-[3rem] rounded-[2rem] bg-[#E1E1E1] font-[#202020] text-[1rem] font-medium flex items-center justify-center">1</div>
      <div class="w-[1rem] border-t border-[#DCDCDC]"></div>
      <div class="w-[3rem] h-[3rem] rounded-[2rem] bg-[#E1E1E1] font-[#202020] text-[1rem] font-medium flex items-center justify-center">2</div>
      <div class="w-[1rem] border-t border-[#DCDCDC]"></div>
      <div class="w-[3rem] h-[3rem] rounded-[2rem] bg-[#E1E1E1] font-[#202020] text-[1rem] font-medium flex items-center justify-center">3</div>
      <div class="w-[1rem] border-t border-[#DCDCDC]"></div>
      <div class="w-[3rem] h-[3rem] rounded-[2rem] bg-[#E1E1E1] font-[#202020] text-[1rem] font-medium flex items-center justify-center">4</div>
      <div class="w-[1rem] border-t border-[#DCDCDC]"></div>
      <div class="w-[3rem] h-[3rem] rounded-[2rem] bg-[#E1E1E1] font-[#202020] text-[1rem] font-medium flex items-center justify-center">5</div>
      <div class="w-[1rem] border-t border-[#DCDCDC]"></div>
      <div class="w-[3rem] h-[3rem] rounded-[2rem] bg-[#E1E1E1] font-[#202020] text-[1rem] font-medium flex items-center justify-center">6</div>
    </div>
  </div>
  <div class="flex flex-col gap-1.5 mt-5">
    <div class="flex flex-col">
      <div class="flex justify-between items-center">
        <div class="flex gap-2 items-center">
          <div class="w-[2rem] h-[2rem] rounded-[2rem] bg-[#F7F5F4] flex items-center justify-center">
            <img src="<%= asset_path("icon/calendar_outline.svg") %>" alt="calender" class="h-[1rem] w-[1rem]">
          </div>
          <p class="text-[#202020] font-medium text-[0.9rem]"><span class="font-semibold">4</span> meetings are not scheduled yet</p>
        </div>
        <a href="/" class="text-[#898989] font-regular text-[0.85rem] underline">Take Action</a>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex justify-between items-center">
        <div class="flex gap-2 items-center">
          <div class="w-[2rem] h-[2rem] rounded-[2rem] bg-[#F7F5F4] flex items-center justify-center">
            <img src="<%= asset_path("icon/2_user.svg") %>" alt="2_user" class="h-[1rem] w-[1rem]">
          </div>
          <p class="text-[#202020] font-medium text-[0.9rem]">Upcoming meeting is <span class="font-semibold">5</span> days away</p>
        </div>
        <a href="/" class="text-[#898989] font-regular text-[0.85rem] underline">Take Action</a>
      </div>
    </div>
  </div>

</div>