<% mentees_data.each do |mentee| %>
    <div>
        <img src="<%= mentee.profile_picture %>">
        <%= mentee.name %>
        <%= mentee.title %>
        <strong><%= link_to "Profile", profile_path(mentee.id)%></strong>
    </div>
<% end %>