<div class="p-5">
  <h1 class="text-2xl font-semibold text-[#202020] mb-1">
    Available Mentors
  </h1>
  <p class="text-sm text-[#898989] mb-5">
    Discover insights and stories from our mentors to inspire your own journey.
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
    <% mentors_data.each do |mentor| %>
    <%# TODO: Refactor (might need to modify user method model) %>
      <% current_mentee_count = mentor.mentee_capacity_count(mentor.cohort) %>
      <% capacity_cap = mentor.capacity %>
      <% if  current_mentee_count < capacity_cap %>
        <%= render 'profile_card', mentor: mentor %>
      <% end %>
    <%end%>
  </div>
</div>
