<div class="w-[17.688rem] rounded-[0.75rem] overflow-hidden shadow-md mt-4">
  <img class="w-full h-[5.538]" src="<%= asset_path("sample_img/dpi_building.png") %>" alt="Dpi building">
  <div class="px-6 py-4">
    <p class="text-xs text-gray-400">Program name</p>
    <div class="font-bold text-xl mb-2 mt-2">Dpi Cohort 5</div> 
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
</div>