<div class="pt-6 px-6 bg-white rounded-[0.75rem] shadow-md w-full h-full">
    <h1 class="text-center pb-2 text-base font-semibold">
        Your Mentor Shortlist!
    </h1>
    <div id="short-list-card" class="rounded-[0.55rem] h-5/6">
    </div>
    <button class="text-xs w-[70.073px] h-[32px] bg-[#202020] mt-2 text-[#FFFFFF] border border-transparent rounded-md hover:bg-transparent hover:text-[#202020] hover:border-[#202020]"
                    onclick="#">
        Submit
    </button>
</div>