<div class="mt-20">
  <% if @role == "mentor" %>
    <%= render partial: "mentee_dashboard", locals: { mentors_data: @mentors_data } %>
  <% elsif @role == "mentee" %>
    <%= render partial: "mentee_dashboard", locals: { mentors_data: @mentors_data } %>
  <% elsif @role == "admin" %>
    <%= render partial: "admin_dashboard" %>
  <% else %>
    <h1>Role not recognized.</h1>
  <% end %>
</div>