<% if @role == "mentor" %>
  <%= render partial: "mentor_dashboard", locals: { mentees_data: @mentees_data } %>
<% elsif @role == "mentee" %>
  <%= render partial: "mentee_dashboard", locals: { mentors_data: @mentors_data } %>
<% elsif @role == "admin" %>
  <% @admins_data.each do |admin| %>
  <% end %>
  <!-- Admin Partial Views Here-->
  <%= render partial: "admin_dashboard" %>
<% else %>
  <h1>Role not recognized.</h1>
<% end %>