<div class="mt-1">
  <div class="flex justify-center p-6 lg:px-24 lg:py-10 gap-[1.3rem]">
    <!-- Left Section: Stack the two cards -->
    <div class="desktop-view">
      <div class="flex flex-col space-y-5 col-span-1 w-[17rem]">
        <%= render 'shared/user_card' %>
        <%= render 'shared/program_card' %>
      </div>
    </div>
    <!-- Right Section: Main Content -->
    <div class="col-span-3">
      <% if current_user.mentee? %>
        <%= render 'mentee_meeting_table' %>
      <% else %>
        <%= render 'mentor_meeting_table' %>
      <% end %>
    </div>
  </div>
</div>