<div id="<%= dom_id cohort_member %>">
  <p>
    <strong>Email:</strong>
    <%= cohort_member.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= cohort_member.role %>
  </p>

  <p>
    <strong>Cohort:</strong>
    <%= cohort_member.cohort %>
  </p>

</div>
