<div id="toast-interactive" class="w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow fixed bottom-14 right-5"
     role="alert" xmlns="http://www.w3.org/1999/html">
  <div class="flex">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 bg-[#F9F9F9] rounded-lg">
      <%= image_tag 'icon/survey_icon.svg',
                    class: "w-4 h-4",
                    alt: 'survey icon' %>
    </div>
    <div class="flex flex-col gap-1.5 ms-3 font-normal">
      <span class="text-m font-semibold text-gray-900">Feedback Requested</span>
      <div class="mb-2 text-sm font-normal">First meeting done! How did it go?<br>
                                            We can't wait to hear your story!</div>
      <div class="grid grid-cols-2 gap-2">
        <div>
        <!--TODO: Link Survey Page -->
          <a href="/surveys/new" class="inline-flex justify-center w-full px-2 py-1.5 text-xs font-medium text-center text-white bg-[#202020] rounded-lg hover:bg-[#676666]">Take Survey</a>
        </div>
        <div>
          <a href="#" class="inline-flex justify-center w-full px-2 py-1.5 text-xs font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200">Not now</a>
        </div>
      </div>
    </div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white items-center justify-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8" data-dismiss-target="#toast-interactive" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
</div>

