<div class="p-5" id="landing_nav_mb">
  <div class="bg-white opacity-70 flex items-center	justify-between border-slate-300 rounded-xl p-3 h-[3.25rem]">
    <a href="/">
      <img src="<%= asset_path("icon/Logo.svg") %>" alt="DPI Logo" class="h-[1.5rem]">
    </a>
    <img src="<%= asset_path("icon/menu.svg") %>" alt="menu" class="h-[1.5rem]">
  </div>
</div>