<a href=<%= link %> target="_blank">
    <button class=" bg-black text-white p-3 rounded-lg flex row items-center">
        <p><%= text %></p> <%= image_tag 'icon/right_circle.png', class: 'h-5 ml-2 self-center' %>
    </button>
</a>
