<div class="mobile-view">
  <nav class="flex items-center justify-between px-8 bg-[#FFFFFF] h-[3.5rem] shadow-sm fixed top-0 w-full z-20">
    <img src="<%= asset_path("icon/Logo.svg") %>" alt="DPI Logo" class="h-[1.5rem]">
    <img src="<%= asset_path("icon/nav_icon.svg") %>" alt="nav" class="h-[1rem]">
  </nav>
</div>