<div class="flex flex-col items-center justify-center w-full relative">
  <div class="gradient gradient-left"></div>
  <div class="gradient gradient-right"></div>
  <h1 class="font-light text-center w-full md:w-3/4 lg:w-1/2 text-5xl md:text-6xl mt-16">
    Transform potential into progress through <span class="font-bold">MentE</span>
  </h1>
  <div class="mt-8">
    <button class="bg-gray-900 text-white px-6 py-3 text-s rounded-md hover:scale-105 transition">
      <% if user_signed_in? %>
        <%= link_to "Start Mentorship", dashboard_path(role: current_user.role )%>
      <% else %>
        <%= link_to "Start Mentorship", mentor_mentee_registration_path %>
      <% end %>
    </button>
  </div>
</div>
