<div class="flex flex-col items-center justify-center w-full relative">
  <div class="gradient gradient-left"></div>
  <div class="gradient gradient-right"></div>
  <div class="font-light text-center w-full mt-16 mb-5 text-5xl">
    Transform <span class="italic">potential</span><br>into progress through<br>
  </div>
  <div class="font-bold text-6xl">MentE</div>
  <div class="mt-8">
    <button class="bg-gray-900 text-white px-6 py-3 text-s rounded-md hover:scale-105 transition">
      <% if user_signed_in? %>
        <%= link_to "Start Mentorship", dashboard_path(role: current_user.role )%>
      <% else %>
        <%= link_to "Start Mentorship", mentor_mentee_registration_path %>
      <% end %>
    </button>
  </div>
</div>
