<div class="flex flex-col items-center justify-center w-full relative">
  <div class="font-light text-center w-full mt-16 mb-5 text-5xl">
    Transform <span class="italic">potential</span><br>into progress through<br>
  </div>
  <div class="font-bold text-6xl">MentE</div>
  
</div>
