<section class="py-24 ">
  <div class="mx-auto max-w-10xl px-4 sm:px-6 lg:px-8">
        <div class="mb-14 flex flex-col justify-center items-center sm:flex-row sm:items-center sm:justify-between max-sm:gap-8">
      <!-- Slider controls -->
      <button id="slider-button-left"
            class="swiper-button-prev group flex justify-center items-center border border-solid border-black w-12 h-12 transition-all duration-500 rounded-full hover:bg-gray-900"
            data-carousel-prev>
        <i class="fas fa-chevron-left text-black group-hover:text-white"></i>
      </button>
      <div class="flex flex-col items-center mt-40 mb-9">
        <h1 class="font-bold text-6xl">Reviews</h1>
        <p class="text-center w-1/2 mt-3 text-xl">Take a look at some of our recent projects to see how we've helped businesses like yours succeed online.</p>
      </div>
      <button id="slider-button-right"
            class="swiper-button-next group flex justify-center items-center border border-solid border-black w-12 h-12 transition-all duration-500 rounded-full hover:bg-gray-900"
            data-carousel-next>
        <i class="fas fa-chevron-right text-black group-hover:text-white"></i>
      </button>
    </div>
  </div>
  <div class="lg:flex grid grid-cols-1 md:grid-cols-3 justify-center items-center gap-8 swiper mySwiper">
    <div class="swiper-wrapper">
      
      <div class="swiper-slide group bg-white border border-solid border-gray-300 rounded-2xl p-8 transition-all duration-500 w-full hover:border-indigo-600 slide-active:border-indigo-600">
        <img class="w-1/2 h-1/2 mb-4" src=<%= asset_path("dpi_logo.png") %> alt="Logo" />
        <p class="text-lg text-gray-500 leading-8 h-24 transition-all duration-500 mb-9 group-hover:text-gray-800">
          I was hesitant to try pagedone at first, but I'm so glad I did - it's exceeded all of my expectations.
        </p>
        <div class="flex items-center gap-5">
          <img class="rounded-full object-cover" src="https://pagedone.io/asset/uploads/1696229994.png" alt="avatar" />
          <div class="grid gap-1">
            <h5 class="text-gray-900 font-medium transition-all duration-500 group-hover:text-indigo-600 swiper-slide-active:text-indigo-600">Harsh P.</h5>
            <span class="text-sm leading-6 text-gray-500">Product Designer</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide group bg-white border border-solid border-gray-300 rounded-2xl p-8 transition-all duration-500 w-full hover:border-indigo-600 slide-active:border-indigo-600">
        <img class="w-1/2 h-1/2 mb-4" src=<%= asset_path("dpi_logo.png") %> alt="Logo" />
        <p class="text-lg text-gray-500 leading-8 h-24 transition-all duration-500 mb-9 group-hover:text-gray-800">
          I was hesitant to try pagedone at first, but I'm so glad I did - it's exceeded all of my expectations.
        </p>
        <div class="flex items-center gap-5">
          <img class="rounded-full object-cover" src="https://pagedone.io/asset/uploads/1696229994.png" alt="avatar" />
          <div class="grid gap-1">
            <h5 class="text-gray-900 font-medium transition-all duration-500 group-hover:text-indigo-600 swiper-slide-active:text-indigo-600">Harsh P.</h5>
            <span class="text-sm leading-6 text-gray-500">Product Designer</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide group bg-white border border-solid border-gray-300 rounded-2xl p-8 transition-all duration-500 w-full hover:border-indigo-600 slide-active:border-indigo-600">
        <img class="w-1/2 h-1/2 mb-4" src=<%= asset_path("dpi_logo.png") %> alt="Logo" />
        <p class="text-lg text-gray-500 leading-8 h-24 transition-all duration-500 mb-9 group-hover:text-gray-800">
          I was hesitant to try pagedone at first, but I'm so glad I did - it's exceeded all of my expectations.
        </p>
        <div class="flex items-center gap-5">
          <img class="rounded-full object-cover" src="https://pagedone.io/asset/uploads/1696229994.png" alt="avatar" />
          <div class="grid gap-1">
            <h5 class="text-gray-900 font-medium transition-all duration-500 group-hover:text-indigo-600 swiper-slide-active:text-indigo-600">Harsh P.</h5>
            <span class="text-sm leading-6 text-gray-500">Product Designer</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide group bg-white border border-solid border-gray-300 rounded-2xl p-8 transition-all duration-500 w-full hover:border-indigo-600 slide-active:border-indigo-600">
        <img class="w-1/2 h-1/2 mb-4" src=<%= asset_path("dpi_logo.png") %> alt="Logo" />
        <p class="text-lg text-gray-500 leading-8 h-24 transition-all duration-500 mb-9 group-hover:text-gray-800">
          I was hesitant to try pagedone at first, but I'm so glad I did - it's exceeded all of my expectations.
        </p>
        <div class="flex items-center gap-5">
          <img class="rounded-full object-cover" src="https://pagedone.io/asset/uploads/1696229994.png" alt="avatar" />
          <div class="grid gap-1">
            <h5 class="text-gray-900 font-medium transition-all duration-500 group-hover:text-indigo-600 swiper-slide-active:text-indigo-600">Harsh P.</h5>
            <span class="text-sm leading-6 text-gray-500">Product Designer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 28,
      centeredSlides: true,
      loop: true,
      pagination: {
          el: ".swiper-pagination",
          clickable: true,
      },
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
      },
      breakpoints: {
          0: {
              slidesPerView: 1,
              spaceBetween: 20,
              centeredSlides: false,
          },
          768: {
              slidesPerView: 2,
              spaceBetween: 28,
              centeredSlides: true,
          },
          1024: {
              slidesPerView: 3,
              spaceBetween: 32,
          },
      },
  });
</script>