<div class="container mx-auto mt-[5rem] px-5 flex justify-center">
  <div class="relative w-full max-w-5xl h-auto">
    <%= render "hero" %>
    <div class="mt-32">
      <!-- Brand Section -->
      <%= render "brand" %>
      <!-- Reviews Section -->
      <%= render "reviews" %>
    </div>
  </div>
</div>
<!-- FAQ Section -->
<%= render "faq" %>