<h1 class="mt-[10rem]">New match</h1>

<%= form_with url: matches_path do |form| %>
  <%#= form.hidden_field :cohort_id, value: @cohort_id %>
  <%= form.submit "Create Matches" %>
<% end %>

<br>

<div>
  <%= link_to "Back to matches", matches_path %>
</div>
