/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap";

:root {
    --mente-bg--1: #F7F7F7;
    --mente-dark--0: #202020;
    --mente-dark--1: #676666;
    --mente-dark--2: #898989;
    --mente-light--0: #FFFFFF;
    --mente-light--1: #F9F9F9;
    --mente-light--2: #D9D9D9;
    --mente-light-blue: #EEF6F8;
    --mente-yellow: #FFA500;
    --mente-light-red: #F9837C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Archivo", sans-serif;
    color: var(--mente-dark--0);
    font-weight: 300;
    line-height: 1.6;
    background-color: var(--mente-bg--1);
    display: flex;
    justify-content: center;
   
}

.gradient {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px); 
    z-index: -1;
  }
  
  .gradient-left {
    width: 300px;
    height: 300px;
    top: 40%;   
    left: 50%;  
    transform: translate(-50%, -50%) rotate(-10deg);
    background: linear-gradient(
      270deg,
      rgba(245, 215, 252, 0.50) 0%,
      rgba(247, 209, 204, 0.50) 45%,
      rgba(247, 208, 197, 0.50) 57.5%,
      rgba(255, 185, 18, 0.50) 100%
    );
  }
  
  .gradient-right {
    width: 300px;
    height: 300px;
    top: 20%;
    left: 50%;  
    transform: translate(-50%, -50%) rotate(8deg);
    background: linear-gradient(
      90deg,
      rgba(148, 3, 253, 0.50) 0%,
      rgba(0, 173, 254, 0.50) 100%
    );
  }
  


/* testimonials section */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 40px !important;
    height: 40px !important;
    
}

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
}

.swiper-slide.swiper-slide-active {
    --tw-border-opacity: 1 !important;
    border-color: black !important;
}


@media (max-width: 768px) {
    /* Mobile styles */
    .mobile-view {
        display: block;
    }
    .desktop-view {
        display: none;
    }
}

@media (min-width: 769px) {
    /* Desktop styles  */
    .mobile-view {
        display: none;
    }
    .desktop-view {
        display: block;
    }
}

@media (max-width: 768px) {
    /* Mobile styles */
    .mobile-view {
      display: block;
    }
    .desktop-view {
      display: none;
    }
  }
  
@media (min-width: 769px) {
    /* Desktop styles  */
    .mobile-view {
        display: none;
    }
    .desktop-view {
        display: block;
    }
}