#mentor-list-section-m .mentor-card {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 1rem 1.5rem;
    align-items: center;
}

#mentor-list-section .mentor-card {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 1rem 1.5rem;
    align-items: center;
}

#mentor-list-section-m .mentor-info {
    display: flex;
    gap: 0.75rem;
}

#mentor-list-section .mentor-info {
    display: flex;
    gap: 0.75rem;
}

.mentor-image {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
}

#mentor-list-section-m .mentor-image {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
}


#mentor-list-section-m .mentor-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mentor-list-section .mentor-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#mentor-list-section-m .mentor-name {
    font-size: 1rem;
    color: #202020;
    font-weight: bold;
}

.mentor-name {
    font-size: 1rem;
    color: #202020;
    font-weight: bold;
}

#mentor-list-section-m .mentor-title {
    font-size: 0.75rem;
    color: #202020;
}



.mentor-title {
    font-size: 0.75rem;
    color: #202020;
}

#mentor-list-section-m .mentor-button {
    font-size: 0.75rem;
    width: 4rem;
    height: 1.75rem;
    background-color: #202020;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
}


#mentor-list-section .mentor-button {
    font-size: 0.75rem;
    width: 4rem;
    height: 1.75rem;
    background-color: #202020;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
}

.mentor-button {
    color: transparent;
}


/* card design in the short list in mobile */
#mentor-list-section-m .mentor-button:hover {
    background-color: transparent;
    color: #202020;
    border-color: #202020;
}

#short-list-card-m .mentor-card {
    width: 3.5rem;
    display: flex;
    flex-direction: column;
}

#short-list-card-m .mentor-image {
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
}

#short-list-card-m .mentor-title {
    display: none;
}

#short-list-card-m .mentor-name {
    font-size: 0.7rem;
    color: #202020;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 3.5rem;
    display: block;
}


#short-list-card-m .mentor-button {
    display: none;
}

#mentor-list-section-m .order-number {
    display: none;
}

/* card design in the short list in desktop */
#short-list-card .mentor-card {
    background-color: #FFFFFF;
    width: 9rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.75rem;
}

#short-list-card .mentor-info {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 0.3rem;
    margin-right: 0.5rem;
}

#short-list-card .mentor-image {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: cover;
    border-radius: 20rem;
    border: 1px solid #d1d5db;
}

#short-list-card .mentor-title {
    display: none;
}

#short-list-card .mentor-name {
    font-size: 0.9rem;
    color: #202020;
    font-weight: 500;
    white-space: nowrap;
    width: 4.4rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#short-list-card .mentor-button {
    display: none;
}

/* numbering */

.order-number{
    color: transparent;
}

#mentor-list-section-m .order-number {
    display: none;
}

#mentor-list-section .order-number {
    display: none;
}


#short-list-card-m .order-number {
    position: absolute;
    padding-top: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 0.5rem;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

#short-list-card .order-number {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    font-size: 0.7rem;
    border-radius: 0.875rem;
    border: 2px solid #F7F7F7;
    background: #D9D9D9;
    font-weight: 700;
    color: #676666;
    margin-left: 0.5rem;
}