<h1>Welcome to MentE!</h1>

<p>You're registered as a mentee for Discovery Partners Institute's <%= @cohort.program.name %> <%= @cohort.cohort_name %>!</p>

<p>Please follow this link to register your account: insert link.</p>

<p>Yours Truly,</p>
<p>The MentE Team</p>