<h1>Hey <%= @user.first_name %>, welcome to MentE!</h1>

<p>Thank you for volunteering as a mentor for Discovery Partners Institute's <%= @cohort.program.name %>, cohort <%= @cohort.cohort_name %>!</p>

<p>Please follow this link to register your account: insert link.</p>

<p>Yours Truly,
    The MentE Team
</p>