<div class="flex justify-center p-6 lg:px-24 lg:py-10 gap-[1.3rem]">
  <div class="desktop-view">
    <div class="flex flex-col space-y-5 col-span-1 w-[17rem]">
      <%= render partial: 'dashboard/user_card' %>
      <%= render partial: 'dashboard/program_card' %>
    </div>
  </div>
  <%= render 'profile', user: @user %>
</div>
